<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Productos</h1>
			<% if signed_in? %>
				<div class="text-right">
				<%= link_to "<span class='glyphicon glyphicon-plus'></span> Nuevo Producto".html_safe, new_product_path, class: "btn btn-primary" %>
				</div>
			<% end %>
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nombre</th>
						<th>URL</th>
						<th>Descripción</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @products.each do |product| %>
						<tr>
							<td><%= product.id %></td>
							<td><%= link_to product.name, product %></td>
							<td><%= product.url %></td>
							<td><%= product.description %></td>
							<td>
								<% if signed_in? %>
									<%= link_to "Editar", edit_product_path(product) %>
									<%= link_to "Eliminar", product, method: :delete, data:{confirm: "Estas seguro de eliminar este producto"} %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>