<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Productos</h1>
			<div class="text-right">
				<a href="/products/new" class="btn btn-primary"><span class="glyphicon glyphicon-plus"> Nuevo producto</span></a>
			</div>
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nombre</th>
						<th>URL</th>
						<th>Descripción</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @products.each do |product| %>
						<tr>
							<td><%= product.id %></td>
							<td><a href="/products/<%= product.id %>"><%= product.name %></a></td>
							<td><%= product.url %></td>
							<td><%= product.description %></td>
							<td><a href="/products/<%= product.id %>/edit">Editar</a></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>