<!DOCTYPE html>
<html>
<head>
  <title>Producthunt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if flash[:notice]-%>
		<div class="alert alert-info text-center" role="alert"> 
			<%= flash[:notice] %>
		</div>
    <% end -%>
    <% if signed_in? %>
		<div>Hola <%= current_user.name %></div>
    <% end %>
	<%= yield %>

</body>
</html>
